@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: "letra";
  src: url("../fonts/mont.ttf")
}
  
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 1s;
  font-family: "Montserrat", "letra", sans-serif
}

html {
  background: #dadada
}

input,
select {
  margin: 5px;
  padding: 7px 15px;
  border: 1px solid dodgerblue;
  background: white;
  border-radius: 4px;
  font-weight: bold;
  transition: .5s;
  outline-color: purple;
  outline-width: 2px;
}

input[type="button"] {
  margin: 5px;
  padding: 7px 15px;
  border: 1px solid dodgerblue;
  background: white;
  border-radius: 10px;
  font-weight: bold;
  transition: .5s;
  color: dodgerblue;
  outline: none
}

input[type="button"]:hover {
  background: dodgerblue;
  color: white
}

input[type="button"]:active {
  background: #0921f7;
  color: white;
  transition: .2s
}

header {
  background: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 10px;
  box-shadow: 0px 0px 15px grey;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  color: white
}

#ven1 {
  margin-top: 131px;
  display: flex;
  flex-flow: row wrap;
}

#ven1 > article.prin {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%
}

#ven1 > article > .pan {
  min-width: 395px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: white;
  margin: 15px;
  box-shadow: 0px 0px 15px silver;
  padding: 10px 30px;
  border-radius: 15px
}

#ven1 > article > .pan > form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: white;
}

#ven1 > article > .pan > h1 {
  font-size: 25px;
  margin: 10px;
  background: dodgerblue;
  color: white;
  border-radius: 15px;
  padding: 7px 15px
}

#ven1 > article > .pan > p {
  font-size: 20px
}

#ven1 > article > .pan > form > div {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px
}

#ven1 > article > .pan > form > div > p {
  font-size: 20px
}

#ven1 > .send {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;  
}

.sec {
  width: 100%;
  padding: 10px;
  display: block;
  background: white;
}
.sec > h1 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px
}

#tabla1, #tabla2, #tabla3 {
  width: 100%;
  grid-column-gap: 50px;
  background: white;
  padding: 20px 0px 20px 0px
}

.tabla {
  width: 100%;
  border-radius: 10px
}

table, th, td {
  border: 2px solid dodgerblue;
  border-collapse: collapse;
  text-align: center
}

th, td {
  padding: 5px
}

#ven2, #ven3 {
  display: none;
  width: 100%;
  margin-top: 160px;
}

/* notificaciones */

#notif {
  display: none;
  padding: 15px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3000;
  background: rgb(224, 224, 224);
  box-shadow: 0px 0px 15px black;
  border-radius: 10px;
  font-size: 25px;
  background: white;
  text-align: center;
  background: grey;
  color: white;
  font-weight: bold
}

#notif > p {
  text-align: center
}